<div>
<div class = "container" >

  <p>Choose year, make, model and see the reviews:</p>

  <form id="search-form" action="/searches" method="post">
    <select id="make-button" name='make'>
      <option value="" default selected>Make</option>
      <% @makes_array.each do |make| %>
        <option value=<%= make %>><%= make %></option>
      <% end %>
    </select>
  <%= render partial: 'partials/models', locals: {models_array: []} %>
  <%= render partial: 'partials/years', locals: {years_array: []} %>
    <input id="submit-button" type="submit" name="Search">

  </form><br>

</div>

<div class="float-left-div">
    <div class="float-left">
      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Reviews</li>
        <li class="tab-link" data-tab="tab-2">Safety Ratings</li>
      </ul>

      <%= render partial: 'partials/reviews', locals: {reviews: []} %>
      <%= render 'partials/safety' %>
    </div>
</div>






