
<div class="road"> </div>
<div class = "container" >

  <p>Choose year, make, model and see the reviews:</p>

  <form id="search-form" action="/searches" method="post">
    <select id="make-button" name='make'>
      <option value="" default selected>Make</option>
      <% @makes_array.each do |make| %>
        <option value=<%= make %>><%= make %></option>
      <% end %>
    </select>
  <%= render partial: 'partials/models', locals: {models_array: []} %>
  <%= render partial: 'partials/years', locals: {years_array: []} %>
    <input id="submit-button" type="submit" name="Search">

  </form><br>

</div>
    <div class="reviews-overview">
    <%= render partial: 'partials/averageRating', locals: {averageRating: ""} %>
    </div>

    <div class="tabs-div">

      <ul class="tabs">
        <li class="current"><a href="#tab-1">Reviews</a></li>
        <li><a href="#tab-2">Safety Ratings</a></li>
      </ul>

      <%= render partial: 'partials/reviews', locals: {reviews: []} %>
      <%= render partial: 'partials/safety', locals: {safety: []} %>
    </div>









